# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/

# Since we are using yarn, don't checkin package-lock
package-lock.json

# Build directory
public/
.DS_Store
yarn-error.log

#ENV
.env.development
.env.production
