// In this file, override variables that are present in:
// Spacing: https://github.com/tachyons-css/tachyons-sass/blob/master/scss/_spacing.scss
// Colors: https://github.com/tachyons-css/tachyons-sass/blob/master/scss/_colors.scss
// Media Queries: https://github.com/tachyons-css/tachyons-sass/blob/master/scss/_media-queries.scss

// i.e.
// $red: #000;

$orange: #E6BF9D;
$near-black: #424242;
$dark-gray: #4A4A4A; 


