@import 'variables'; // Must appear before tachyons.scss
@import '~tachyons-sass/tachyons.scss';

// fonts
.butler {
  font-family: Butler;
}

// Backgrounds

// Sizes

.h-18px {
  height: 18px;
}

.transition-3 {
  transition: .1.5s ease-in;
}

// Overwrite link:focus -- no outline
.link:focus {
  outline: none;
}

.karla {
  font-family: Karla
}
