@import '~styles/variables'; // Must appear before tachyons.scss
@import '~tachyons-sass/tachyons.scss';

// Link style
.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav-link.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
